# Please rename this file to .env to use it

# Is automatically set by run.setup_root
# PROJECT_ROOT=<Your Project Root>

HF_HOME=~/.cache/huggingface
HF_TOKEN=<Your HF Hub Token>

# since tokenizer is created multiple times
TOKENIZERS_PARALLELISM=true
HF_ALLOW_CODE_EVAL=1

# More effient memory management of torch, less reserved memory, especially while inference
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True

LOCAL_DATASET_PATH=<Path to your local dataset cache>

NVCOMP_ROOT=<Path to your NVCOMP installation>
